/********** GENERAL  *************/

* {
    font-family: 'Oxygen Mono', monospace;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 1.25rem;
}

/********** HEADER *************/

header {
    background-color: #000;
    color: #fff;
}

/********** SEARCH INPUT *************/

#search {
    margin: 20px;
    text-align: center;
    border-bottom: 2px solid #000;
}

#search_employee {
    margin: 15px 0;
    height: 35px;
    width: 40%;
}

label {
    display: block;
}

#search_employee::placeholder {
    padding-left: 10px;
}

/********** DIRECTORY *************/

#directory {
    padding: 20px;
    background-image: url(../img/agsquare.png);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.card {
    margin: 20px 0;
    display: flex;
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%
}

.card img {
    width: 100px;
    height: 100px;
    margin: 25px 25px;
    border-radius: 50%;
}

.card h3 {
    margin-top: 35px;
    margin-bottom: 15px;
}

.card p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(131, 125, 125);
}